<p>Fala meu boss</p>
<p>voce que e o <%= @resource.name %>, certo? Que muda a senha certo meu patrao?</p>
<p>
  pega esse token irmao vose vai precisa <%= link_to 'Token pra muda de senha tranquilo', "#{message['redirect-url']}?reset_password_token=#{@token}" %>
</p>
<p>tmj parsero vai com Deus</p>
